<!--Top-->
<div
  class="top container-fluid bg-black d-flex align-self-center justify-content-between"
>
  <div class="address">
    <a
      class=""
      href="https://www.google.com/maps/place/Rua+Maria+Lu%C3%ADsa+do+Val+Penteado+-+Cidade+S%C3%A3o+Mateus,+S%C3%A3o+Paulo+-+SP,+03962-040/@-23.6080206,-46.4849595,17z/data=!3m1!4b1!4m5!3m4!1s0x94ce67d5d61891c1:0x4d350796728b73b4!8m2!3d-23.6080206!4d-46.4827708"
      target="_blank"
    >
      <p class="text-center">
        Rua Maria Luísa do Val Penteado, Cidade São Mateus - São Paulo - SP -
        CEP 03962040 | Central de Atendimento
      </p>
    </a>
  </div>
  <div class="p-1 pt-2">
    <a href="#"><fa-icon class="p-1" [icon]="faFacebook"></fa-icon></a>
    <a href="#"><fa-icon class="p-1" [icon]="faInstagram"></fa-icon></a>
    <a href="#"><fa-icon class="p-1" [icon]="faWhatsapp"></fa-icon></a>
    <a href="#"><fa-icon class="p-1" [icon]="faEnvelope"></fa-icon></a>
  </div>
</div>
<div class="container-fluid bg-secondary" style="height: 100vh;">

<div id="section-signIn">
  <div class="container-fluid p-5 d-flex flex-column align-items-center justify-content-center">
      <form method="post" action="" id="login"
          class="d-flex flex-column justify-content-center align-items-center">
          <a class="logo d-flex flex-column align-items-center" routerLink="/">
              <img class="logoimg img-fluid mx-3" src="assets/img/icons/console_green.png">
              <h3 class="title text-success px-1 pt-2">TECH GAMER</h3>
          </a>
          <div class="form-group pt-0 m-0">
              <label for="username">Usuário</label>
              <input name="name" type="text" placeholder="E-mail ou Telefone"
                  id="username" required><fa-icon [icon]="faExclamationCircle"></fa-icon><fa-icon [icon]="faCheckCircle"></fa-icon><small>Por favor insira o login.</small>
          </div>
          <div class="form-group pt-0 m-0">
              <label for="password">Senha</label>
              <input name="pass" type="password" placeholder="Senha" id="password"
                  required><fa-icon [icon]="faExclamationCircle"></fa-icon><fa-icon [icon]="faCheckCircle"></fa-icon><small>Por favor insira a senha.</small>
          </div>


          <input type="button" class="btn-purple" id="btn-login" value="Entrar">

          <input type="button" (click)="mudarlogin()" class="btn-purple" id="btn-signup" value="Cadastre-se">

      </form>
  </div>
</div>

<div id="section-signUp">
  <div class="container-fluid p-5 d-flex flex-column align-items-center justify-content-center">
      <form class="sign" method="post" action="" id="signup"
          class="d-flex flex-column justify-content-center align-items-center">
          <a class="logo d-flex flex-column align-items-center" routerLink="/">
              <img class="logoimg img-fluid mx-3" src="assets/img/icons/console_green.png">
              <h3 class="title text-success px-1 pt-2">TECH GAMER</h3>
          </a>
          <div class="form-group pt-0 m-0">
              <label for="username">Usuário</label>
              <input name="username" type="text" placeholder="ex. nome de usuario" id="username"
                  required>
                  <fa-icon [icon]="faExclamationCircle"></fa-icon><fa-icon [icon]="faCheckCircle"></fa-icon><small>Por favor insira o login.</small>
          </div>
          <div class="form-group pt-0 m-0">
              <label for="email">E-mail</label>
              <input name="email" type="email" placeholder="seu@email.com.br" id="email"
                  required>
              <fa-icon [icon]="faExclamationCircle"></fa-icon><fa-icon [icon]="faCheckCircle"></fa-icon><small>Por favor insira a senha.</small>
          </div>
          <div class="form-group pt-0 m-0">
              <label for="password">Senha</label>
              <input name="password" type="password" placeholder="mínimo de 6 caracteres"
                  id="password" required>
              <fa-icon [icon]="faExclamationCircle"></fa-icon><fa-icon [icon]="faCheckCircle"></fa-icon><small>Por favor insira a confirmação de.</small>
          </div>

          <input type="button" value="Cadastrar" class="btn-purple" id="btn-signup" onclick="signIn()">
      </form>
  </div>
</div>

</div>
