<div class="footer container-fluid bg-secondary py-4">
  <div class="item-footer col-lg-2 px-3">
    <a class="logo d-flex flex-column align-items-center" href="#">
      <img class="logoimg mx-3" src="assets/img/icons/console_green.png" />
      <h3 class="title text-center text-success pt-3">TECH GAMER</h3>
    </a>
    <div class="icons-footer pt-1">
      <a href="#"><fa-icon class="px-2 fa-xl" [icon]="faFacebook"></fa-icon></a>
      <a href="#"
        ><fa-icon class="px-2 fa-xl" [icon]="faInstagram"></fa-icon
      ></a>
      <a href="#"><fa-icon class="px-2 fa-xl" [icon]="faWhatsapp"></fa-icon></a>
      <a href="#"><fa-icon class="px-2 fa-xl" [icon]="faEnvelope"></fa-icon></a>
    </div>
  </div>
  <div class="item-footer col-lg-2 px-3 text-footer">
    <h6 class="text-right text-uppercase pb-1">Atendimento</h6>
    <p class="text-right">
      Horário de atendimento: 08:00 às 20:00 - Segunda a Sábado, horário de
      Brasília (Exceto domingo e feriados)
    </p>
    <p class="text-right">
      Endereço: Rua Maria Luísa do Val Penteado, Cidade São Mateus - São Paulo -
      SP CEP: 03962-040
    </p>
  </div>
  <div
    class="mapa item-footer col-lg-2 px-3 text-footer d-flex flex-column justify-content-start"
  >
    <h6 class="text-right text-uppercase pb-1">Mapa do Site</h6>
    <a class="text-right" href="#"
      ><fa-icon class="mx-1" [icon]="faArrowRight"></fa-icon> Início</a
    >
    <a class="text-right" href="#"
      ><fa-icon class="mx-1" [icon]="faArrowRight"></fa-icon> Lançamentos</a
    >
    <a class="text-right" href="#"
      ><fa-icon class="mx-1" [icon]="faArrowRight"></fa-icon> PC Gamer</a
    >
    <a class="text-right" href="#"
      ><fa-icon class="mx-1" [icon]="faArrowRight"></fa-icon> Desktop</a
    >
    <a class="text-right" href="#"
      ><fa-icon class="mx-1" [icon]="faArrowRight"></fa-icon> Hardware</a
    >
    <a class="text-right" href="#"
      ><fa-icon class="mx-1" [icon]="faArrowRight"></fa-icon> Periféricos</a
    >
    <a class="text-right" href="#"
      ><fa-icon class="mx-1" [icon]="faArrowRight"></fa-icon> Loja</a
    >
    <a class="text-right" href="#"
      ><fa-icon class="mx-1" [icon]="faArrowRight"></fa-icon> Notícias</a
    >
    <a class="text-right" href="#"
      ><fa-icon class="mx-1" [icon]="faArrowRight"></fa-icon> Contato</a
    >
  </div>
  <div
    class="item-footer col-lg-3 px-3 text-footer d-flex flex-column justify-content-start"
  >
    <div class="pb-4">
      <h6 class="text-right text-uppercase pb-2">Segurança</h6>
      <div class="d-flex flex-row">
        <img class="img-fluid rounded" src="assets/img/ssl-color.svg" />
        <img
          class="img-fluid rounded mx-4"
          src="assets/img/googlesafe-color.svg"
        />
      </div>
    </div>
    <div class="">
      <h6 class="text-right text-uppercase pb-2">Pagamento</h6>
      <img class="img-fluid rounded" src="assets/img/bandeiras-3.png" />
    </div>
  </div>
  <div
    class="item-footer col-lg-3 px-3 text-footer d-flex flex-column justify-content-start align-items-center"
  >
    <h6 class="text-right text-uppercase pb-2">
      Quer receber novidades da loja?!
    </h6>
    <input
      class="input-footer bg-black border-0 text-center text-primary mb-3"
      type="email"
      name="e-mail"
      placeholder="Digite aqui o seu e-mail."
    />
    <button class="btn-purple text-uppercase">Assinar</button>
  </div>
</div>
