<div
  class="container-fluid bg-black position-relative pb-1 d-flex align-items-center justify-content-between"
>
<swiper
  [slidesPerView]="1"
  [spaceBetween]="30"
  [navigation]="true"
  [loop]="true"
  [autoplay]="true"
>
  <ng-template swiperSlide><img src="assets/img/produtos/01.jpg"></ng-template>
  <ng-template swiperSlide><img src="assets/img/produtos/02.jpg"></ng-template>
  <ng-template swiperSlide><img src="assets/img/produtos/03.jpg"></ng-template>
  <ng-template swiperSlide><img src="assets/img/produtos/04.jpg"></ng-template>
  <ng-template swiperSlide><img src="assets/img/produtos/05.jpg"></ng-template>
  <ng-template swiperSlide><img src="assets/img/produtos/06.jpg"></ng-template>
  <ng-template swiperSlide><img src="assets/img/produtos/07.jpg"></ng-template>
  <ng-template swiperSlide><img src="assets/img/produtos/08.jpg"></ng-template>
  <ng-template swiperSlide><img src="assets/img/produtos/09.jpg"></ng-template>
  <ng-template swiperSlide><img src="assets/img/produtos/10.jpg"></ng-template>
  <ng-template swiperSlide><img src="assets/img/produtos/11.jpg"></ng-template>
</swiper>
</div>
