<div class="container-fluid bg-black p-5 d-flex flex-column">
  <h3 class="title-primary text-center text-primary text-uppercase pb-4">Notícias</h3>
  <div class="news-item d-flex align-items-center">
      <img src="assets/img/csgo.jpg" class="rounded img-news img-fluid">
      <div class="text-news d-flex flex-column flex-start px-3 align-items-center">
          <h6 class="text-center text-uppercase pb-4">Esportes eletrônicos: Rio de Janeiro receberá
              Mundial de counter strike</h6>
          <p class="text-center">Um dos assuntos mais comentados na internet nesta semana animou muito os
              brasileiros. O Rio de Janeiro será palco do IEM Major Rio de 2023, o Campeonato Mundial de
              Counter-strike: Global Offensive (CS:GO).</p>
          <p class="text-center">O torneio já tem data para acontecer. Entre os dias 31 de outubro e 13 de
              novembro, a "Cidade Maravilhosa" recebe as 24 equipes espalhadas ao redor do mundo em busca dos
              1 milhão de dólares e do tão almejado título Major.</p>
          <button class="btn-purple text-uppercase">Leia Mais!</button>
      </div>
  </div>
  <div class="anim-icon">
      <div class="icon icon-4"></div>
      <div class="icon icon-5"></div>
  </div>
</div>
